* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/static/HankenGrotesk-Bold.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format(truetype);
  font-weight: 800;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/static/HankenGrotesk-Medium.ttf) format(truetype);
  font-weight: 500;
}

body {
  font-family: "Hanken Grotesk";
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

/* LEFT SECTION */
.left-section {
  justify-items: center;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  background: linear-gradient(hsl(241, 100%, 60%), hsl(241, 81%, 54%));
  color: white;
  position: relative;
  z-index: 2;
  left: -77px;
}

.heading {
  color: hsl(221, 100%, 96%);
}

.result {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  justify-items: center;
  align-content: center;
  margin: 20px auto;
  background: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0.5)
  );
  border: none;
}

.result > p {
  color: hsl(221, 100%, 96%);
}

.result-number {
  font-size: 48px;
  font-weight: 600;
  margin-left: 27px;
}

.great {
  font-size: 22px;
  text-align: center;
}

.footer {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  color: hsl(221, 100%, 96%);
}

/* RIGHT SECTION */
.right-section {
  border-radius: 12px;
  width: 270px;
  background-color: white;
  padding: 22px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 170px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.summary {
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}

/* CATEGORY STYLES */
.Reaction,
.Memory,
.Verbal,
.Visual {
  display: flex;
  padding: 10px;
  margin: 10px auto;
  width: 210px;
  font-size: 14.8px;
  border-radius: 7px;
  transition: transform 1s ease;
  cursor: pointer;
}

.Reaction {
  background-color: hsl(0, 100%, 98%);
  color: hsl(0, 100%, 74%);
}

.Memory {
  background-color: hsl(40, 91%, 91%);
  color: hsl(39, 100%, 69%);
}

.Verbal {
  background-color: hsl(167, 100%, 95%);
  color: hsl(166, 100%, 62%);
}

.Visual {
  background-color: hsl(234, 100%, 92%);
  color: hsl(234, 100%, 62%);
}

.Reaction:hover,
.Memory:hover,
.Verbal:hover,
.Visual:hover {
  transform: scale(1.1);
}

/* BUTTON */
.right-section > button {
  margin: 7px auto;
  padding: 12px;
  width: 210px;
  border-radius: 22px;
  border: none;
  background-color: hsl(241, 76%, 23%);
  color: white;
  font-family: "Hanken Grotesk";
  cursor: pointer;
  transition: transform 0.6s ease;
}

.right-section > button:hover {
  transform: scale(1.15);
}

/* TEXT ALIGNMENT */
.writing {
  padding-left: 5px;
  font-weight: bolder;
}

.number-div {
  margin-left: 50px;
}

.overall-number > span {
  color: hsl(0, 0%, 45%);
}

.overall-number {
  color: black;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .left-section {
    left: 0;
    width: 85%;
    text-align: center;
    margin-bottom: 15px;
  }

  .right-section {
    position: static;
    width: 85%;
    text-align: center;
    margin-top: -10px;
  }

  .Reaction,
  .Memory,
  .Verbal,
  .Visual {
    width: 100%;
  }

  .right-section > button {
    width: 100%;
  }
}
